{% extends 'layout.html' %}

{% block title %}
    Book Info
{% endblock %}

{% block body %}
<br>
<br>
    <div style="text-align: center; background-color: burlywood;" class="col-4 offset-4">
        <form action="{{ url_for('books') }}" method=>
            <br>
            <h1 style="color: blue;">{{ details[0][1] }}</h1>
            <br>
            <h3>Author: {{ details[0][2] }}</h3>
            <h3>Year Published: {{ details[0][3] }}</h3>
            <h3>ISBN: {{ details[0][0] }}</h3>
            <br>
            <h3>Average Rating: {{ ratings[1] }}</h3>
            <h3>Number Of Ratings: {{ ratings[0] }}</h3>
            <br>
            <input type="submit" value="Leave a review" class="btn btn-primary">
            <br><br>
        </form>
    </div>
{% endblock %}