{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="form-group">
        <form action="{{ url_for('login')}}"  method="POST" onsubmit="return checkUser()">
            <p style="margin-top: 3%;" class="error">{{ errormessage }}</p>
            <br>
            <label for="username" class="label-control offset-4">Username</label>
            <br>
            <input type="text" class="form-input col-4 offset-4" id="username" autocomplete="off" name="username">
            <p id="userError" hidden="true" class="error">*username cant be empty</p>
            <p class="error">{{ message }}</p>
            <label for="password" class="offset-4">Password</label>
            <br>
            <input type="password" class="form-password col-4 offset-4" id="password" name="password">
            <p id="passwordError" hidden="true" class="error">*password cant be empty</p>
            <br><br>
            <input type="submit" class="form-control col-2 offset-5 custom-form" value="Login" style="background-color: blue; color: white   ;">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
{% endblock %}