.error {
    color: red;
    text-align: center;
}

.navbar-custom {
    background-color: #e6ac00;
}

body {
    background-color: bisque;
}

.searchbar {
    text-align: center;
}

.searchResults {
    text-align: center;
    font-size: large;
}
